

body {
    font-family: sans-serif;
}

.hidden {
    display: none;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

td {
    background-color: #fff;
}

.select_level{
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 20px;
}

.container {
    padding: 20px;
}

.start_button {
    padding: 0px 20px;
}

p {
    font-size: .9em;
}